**/**/selenium-screenshot-*
*.iml
*.ipr
*.iws
*.class
.classpath
.project
/target
.settings/
.profile
.idea/
*.db
**/**/*.png
**/**/*.pyc
**/**/CustomKeyword.py
**/**/log.html
**/**/report.html
**/**/output.xml
*.exe
