.float_full {
	width: 100%;
	float: left;
}

.emailform {
	width: 800px;
	border: 1px;
}

.send_button {
	align: right;
}
.textCol {
	width: 10%;
	float: left;
}
.valueCol {
	width: 90%;
	float: left;
	
}
.inputText {
	width: 700px;
}
