.correct {
    color: #28a745;
}

.incorrect {
    color: #dc3545;
}

.alertMsg {
    color: #dc3545;
}

.advice_div {
    background-color: gray;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}