.correct {
    color: #28a745;
}

.incorrect {
    color: #dc3545;
}

.selected_correct {
      color: #28a745;
}

.selected_incorrect {
       color: #dc3545;
}

.unselected_correct {
     color: #28a745;
}

.unselected_incorrect {
    color: #333;
}

.alertMsg {
    color: #dc3545;
}

.advice_div {
    background-color: gray;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}