<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<listener>
		<listener-class>com.odde.massivemailer.startup.MassiveMailerServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.odde.massivemailer.startup.PrepareDatabaseStartupListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>sendemail.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>mailController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.SendMailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailController</servlet-name>
		<url-pattern>/sendMail</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>emailHistoryController</servlet-name>
		<url-pattern>/listEmails</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>emailHistoryController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.EmailHistoryController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>emailOpenedCounterController</servlet-name>
		<url-pattern>/listEmailDetails</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>emailOpenedCounterController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.EmailOpenedCounterController</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>contactsController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.ContactsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contactsController</servlet-name>
		<url-pattern>/contacts</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>updateContactController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.UpdateContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateContactController</servlet-name>
		<url-pattern>/editContact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>eventsController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.EventsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventsController</servlet-name>
		<url-pattern>/events</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>sendAllEventsController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.SendAllEventsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendAllEventsController</servlet-name>
		<url-pattern>/sendAllEvents</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>TemplatesController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.TemplatesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TemplatesController</servlet-name>
		<url-pattern>/templates</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBResetController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.DBResetController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBResetController</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ImageFilter</filter-name>
		<filter-class>com.odde.massivemailer.filter.ImageFilter</filter-class>

	</filter>
	<filter-mapping>
		<filter-name>ImageFilter</filter-name>
		<url-pattern>/resources/images/*</url-pattern>
	</filter-mapping>
</web-app>