<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>sendemail.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>mailController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.SendMailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailController</servlet-name>
		<url-pattern>/sendMail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showContactController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.ShowContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showContactController</servlet-name>
		<url-pattern>/showContact</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>addContactController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.AddContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addContactController</servlet-name>
		<url-pattern>/addContact</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>updateContactController</servlet-name>
		<servlet-class>com.odde.massivemailer.controller.UpdateContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateContactController</servlet-name>
		<url-pattern>/editContact</url-pattern>
	</servlet-mapping>	
</web-app>